.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dedede;
  padding: 15px 65px 12px;
}

.logo {
  width: 24px;
  height: 26px;
}

.profile {
  display: flex;
}

.button {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: #5a5a5a;
  margin-right: 52px;
}

.icon {
  width: 17px;
  height: 17px;
}